* {
	border-style: none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}
@font-face {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: normal;
  src: local('ChangaOne-Regular'), url('http://themes.googleusercontent.com/static/fonts/changaone/v1/QmTOgNNWM9ly3K3B2X29HL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: normal;
  src: local('Aldrich'), url('http://themes.googleusercontent.com/static/fonts/aldrich/v1/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
body {
	font-size: 0.9em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #95a1c2;
	background-color: #162834;
}
#container {
	min-height: 300px;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
body.home a.img_container_une {
	border-color: white;
	display: inline-block;
	margin: 15px;
	padding: 0px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 10px;
	height: 230px;
	width: 230px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
body.home a.img_container_une IMG {
	display: block;
	background-color: #162834;
	height: 230px;
	width: 230px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
body.home a.freepodcast {
	border-color: white;
	display: inline-block;
	margin: 15px;
	padding: 0px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 10px;
	height: 230px;
	width: 800px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
body.home a.freepodcast IMG {
	display: block;
	background-color: #162834;
	height: 230px;
	width: 800px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
a.img_container_une {
	border-color: white;
	display: inline-block;
	margin: 13px;
	padding: 0px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 10px;
	height: 250px;
	width: 250px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
a.img_container_une IMG {
	display: block;
	background-color: #162834;
	height: 250px;
	width: 250px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#menu {
	min-width: 1200px;
	font-family: Aldrich;
	color: white;
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 1px;
	background-color: #294961;
}
#menu2 {
	padding-left: 0px;
	padding-bottom: 12px;
	padding-right: 0px;
	padding-top: 16px;
	background-repeat: no-repeat;
	background-image: url(../img/logo_top.png);
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
ul.menu {
	float: left;
	position: relative;
	display: block;
	margin-left: 95px;
	list-style-type: none;
}
ul.menu li {
	font-size: 1.8em;
	text-transform: uppercase;
	margin-right: 30px;
	list-style-type: none;
	display: inline-block;
}
#header_bottom {
	background-position: 0 -5px;
	background-repeat: repeat-x;
	background-image: url(../img/ombre.png);
	height: 130px;
	background-color: #0e1a22;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
#header_bottom_wide {
	background-position: 0 -5px;
	background-repeat: repeat-x;
	background-image: url(../img/ombre.png);
	width:100%;
}
#header {
}
#slogan {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 12px;
	padding-top: 10px;
	width: 1200px;
	font-family: Aldrich;
	text-align: right;
	text-transform: uppercase;
}
#podcast_main {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
div.episode {
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom-color: #ffba00;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
div.secondary_episode {
	float: right;
	position: relative;
	width: 250px;
}
div.main_episode {
	width: 550px;
	position: relative;
	float: left;
}
div.main_episode h1.num_episode {
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	font-family: Aldrich;
	font-size: 10em;
}
div.main_episode h1.num_episode a{
	color: white;
	text-decoration: none;
}
div.main_episode h1.num_episode a:hover{
	color: #FFBA00;
	text-decoration: none;
}
h2.titre_episode {
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-size: 1.8em;
	padding: 0px;
	color: #FFBA00;
	font-family: Aldrich;
}
.clear {
	clear: both;
}
#podcast_secondary {
	margin-right: 20px;
	position: relative;
	width: 300px;
	min-height: 500px;
	display: block;
	float: right;
}
#podcast_content {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #0E1A22;
	width: 820px;
	position: relative;
	float: left;
}
body.blog #container #main {
	padding-bottom: 100px;
	padding-top: 50px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #0e1a22;
	position: relative;
	float: left;
	display: block;
	width: 840px;
}
body.blog #container #secondary {
	margin-right: 20px;
	width: 300px;
	position: relative;
	float: right;
}
div#welcome {
	color: #3b4f5e;
	letter-spacing: 2px;
	padding-left: 0px;
	padding-bottom: 7px;
	padding-right: 0px;
	padding-top: 10px;
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
	font-family: Aldrich;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	background-color: #0e1a22;
}
.jaune {
	color: #FFBA00;
}
a {
	text-decoration: none;
	color: white;
}
a.jaune {
	color: #FFBA00;
}
a.jaune:hover{
	color: white;
}
a:hover {
	color: #ffba00;
}
SPAN.slogan_jaune {
	word-spacing: 3px;
	letter-spacing: 1px;
	margin-right: 15px;
	font-size: 1.7em;
	font-family: "Changa One";
	color: #FFBA00;
}
p.slogan {
	color: #3b4f5e;
	padding-right: 40px;
	font-size: 1.5em;
}
h1.home {
	margin-bottom: 20px;
	word-spacing: 6px;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	color: #FFBA00;
	font-size: 5em;
	font-family: "Changa One";
}
a.howto {
	font-size: 1.3em;
	margin-right: 10px;
	text-align: right;
	margin-top: -8px;
	float: right;
	position: relative;
	display: block;
}
.secondary_episode ul {
	list-style-type: none;
}
.secondary_episode ul li  {
	color: #0e1a22;
	font-size: 1.2em;
	font-family: Aldrich;
	margin-bottom: 5px;
	background-color: #ffba00;
}
span.avatar  {
	margin: 4px;
	float: left;
	position: relative;
	display: inline-block;
	min-height: 65px;
	min-width: 65px;
	background-color: #162834;
	border-color: #060b0f;
	border-style: solid;
	border-width: 1px;
}
span.avatar_invite  {
	display: inline-block;
	min-height: 65px;
	min-width: 65px;
	background-color: #162834;
	border-color: #060b0f;
	border-style: solid;
	border-width: 1px;
}
span.invite_nom  {
	padding-top: 17px;
	width: 240px;
	display: none;
	font-family: Aldrich;
}
span.avatar_auteur  {
	background-repeat: no-repeat;
	max-height: 300px;
	min-height: 100px;
	max-width: 300px;
	min-width: 100px;
	float: right;
	margin-bottom: 20px;
	display: inline-block;
	border-color: #060b0f;
	border-style: solid;
	border-width: 1px;
	background-color: #162834;
}
#podcast_header  {
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
div#infos  {
	position: relative;
	width: 800px;
	float: right;
}
h1.nom  {
	font-family: "Changa One";
	font-size: 3.5em;
	color: #ffba00;
}
body.auteur * #main  {
	background-color: #0e1a22;
	padding: 20px;
}
div#photo_details  {
	width: 300px;
	position: relative;
	float: left;
}
h3.liste_emissions  {
	margin-bottom: 10px;
	color: #ffba00;
	margin-top: 40px;
	font-size: 2em;
	font-family: Aldrich;
}
ul.liste_emissions  {
	list-style-type: none;
}
ul.liste_emissions li  {
	font-size: 1.2em;
	margin-bottom: 5px;
}
.bold  {
	font-weight: bold;
}
ul.liste_emissions a  {
	color: #5d7e97;
}
#menu_podcasts ul  {
	z-index: 10;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 18px;
	background-color: #294961;
	margin-left: -9999px;
	position: absolute;
	visibility: hide;
	display: block;
	width: 434px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}
li#menu_podcasts:hover ul  {
	margin-left: -18px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
ul.invites  {
	margin-bottom: 30px;
	list-style-type: none;
}
h3.secondary  {
	margin-top: 35px;
	clear: both;
	display: inline-block;
	padding-right: 10px;
	padding-left: 20px;
	margin-right: -10px;
	margin-left: -20px;
	padding-bottom: 3px;
	margin-bottom: 7px;
	border-bottom-color: #0E1A22;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: #ffba00;
	font-size: 1.5em;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-family: Aldrich;
}
div.tof_id  {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url(../img/bg_fleche.png);
	padding-right: 10px;
	position: relative;
	float: left;
	width: 110px;
}
div.com_texte  {
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-top: 10px;
	max-width: 400px;
	float: left;
	background-color: #162834;
	position: relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
}
div#commentaires  {
	display: inline-block;
	position: relative;
	float: left;
	margin-bottom: 40px;
	margin-top: 40px;
}
div.tof_id p.id  {
	color: #ffba00;
	font-family: Aldrich;
	font-size: 0.8em;
}
div.tof_id p.date  {
	font-family: Aldrich;
	font-size: 0.8em;
}
div.tof_id .spip_logos  {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
}
div.commentaire  {
	margin-bottom: 20px;
}
div.com_texte p  {
	font-size: 0.9em;
	margin-bottom: 10px;
}
#formulaire_forum fieldset  {
	width: 530px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #162834;
}
#formulaire_forum legend  {
	display: none;
}
#formulaire_forum ul  {
	list-style-type: none;
}
#formulaire_forum label  {
	text-transform: uppercase;
	font-family: Aldrich;
	color: #ffba00;
}
#formulaire_forum p.explication  {
	margin-bottom: 10px;
	font-family: Aldrich;
}
#formulaire_forum textarea  {
	font-size: 1em;
	color: white;
	width: 520px;
	padding: 5px;
	background-color: #294961;
	border-width: 0px;
}
#formulaire_forum input[type=text]  {
	font-size: 1em;
	padding: 5px;
	color: white;
	background-color: #294961;
	border-width: 0px;
}
#formulaire_forum li.saisie_session_nom  {
	margin-bottom: 10px;
}
#formulaire_forum input[type=submit]  {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 9px;
	text-transform: uppercase;
	font-size: 1em;
	font-family: Aldrich;
	color: #ffba00;
	background-color: #294961;
}
#formulaire_forum span.erreur_message  {
	display: block;
	font-family: Aldrich;
	color: #be1800;
}
#formulaire_forum .forum-chapo  {
	display: none;
}
#formulaire_forum .forum-texte  {
	margin-bottom: 20px;
}
a.avatar  {
	margin: 10px;
	border-color: #060b0f;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	background-color: #162834;
	height: 100px;
	width: 100px;
}
p.back a  {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 3px;
	text-decoration: none;
	width: 300px;
	font-size: 1.4em;
	font-family: Aldrich;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../img/fleche_retour.png);
	padding-left: 15px;
}
p.back a:hover  {
	color: white;
	padding-top: 3px;
	text-decoration: none;
	width: 300px;
	font-size: 1.4em;
	font-family: Aldrich;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../img/fleche_retour_hover.png);
	padding-left: 15px;
}
#podcast_main  {
}
p.back a:hover span.podcast  {
	color: #ffba00;
}
#liens_partage  {
	padding: 10px;
	background-color: #ffba00;
	display: none;
}
a#partage  {
	margin-left: 0px;
	margin-bottom: -5px;
	margin-right: 0px;
	margin-top: 0px;
	cursor:pointer;
	padding-left: 30px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-image: url(../img/ico_rt.png);
}
a#partage:hover  {
	background-image: url(../img/ico_rt_hover.png);
}
#liens_partage p.social_button  {
	margin-right: 10px;
	float: left;
	position: relative;
	display: block;
}
#liens_partage p.social_button div  {
	clear: none !important;
}
.secondary_episode ul li a  {
	display: block;
	font-style: normal;
	font-weight: normal;
	color: #0e1a22;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-top: 9px;
}
.secondary_episode ul li a:hover  {
	color: #294961;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.secondary_episode ul li a.dl  {
	padding-left: 30px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-image: url(../img/ico_dl.png);
}
.secondary_episode ul li a.dl:hover  {
	background-image: url(../img/ico_dl_hover.png);
}
.secondary_episode ul li a.com  {
	padding-left: 30px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-image: url(../img/ico_com.png);
}
.secondary_episode ul li a.com:hover  {
	background-image: url(../img/ico_com_hover.png);
}
.secondary_episode .spip_logos  {
	margin-bottom: 20px;
}
.secondary_episode ul li a.listen  {
	padding-left: 30px;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-image: url(../img/ico_listen.png);
}
.secondary_episode ul li a.listen:hover  {
	background-image: url(../img/ico_listen_hover.png);
}
div.descrip_episode p  {
	margin-bottom: 8px;
	text-align: justify;
}
.secondary_episode p.date  {
	margin-bottom: 20px;
	font-size: 1em;
	font-family: Aldrich;
	text-align: center;
}
div.descrip_episode  {
	padding-top: 20px;
	padding-bottom: 20px;
}
div.jp-audio  {
	margin-right: auto;
	margin-left: auto;
}
div.descrip_episode ul  {
	padding-left: 20px;
}
div.descrip_episode ul li  {
	margin-bottom: 8px;
}
#pagination a.lien_pagination  {
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-top: 9px;
	font-family: Aldrich;
	text-decoration: none;
	color: #0e1a22;
	background-color: #ffba00;
}
#pagination  {
	padding-top: 20px;
	margin-bottom: 20px;
	height: 25px;
	font-family: aldrich;
}
#pagination span.pagination_label  {
	display: none;
}
#pagination span.separateur  {
	display: none;
}
#pagination strong.on  {
	background-color: #162834;
	color: #ffba00;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-top: 9px;
}
#pagination a.lien_pagination:hover  {
	color: #ffba00;
	background-color: #294961;
}
a:hover img {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
a:hover span.jaune {
	color:#FFF;
}
#header_bottom a:hover img {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
#podcast_options {
	height: 33px;
	padding-bottom: 8px;
	padding-top: 8px;
	font-family: Aldrich;
	margin-right: auto;
	margin-left: auto;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 0px;
	width: 1200px;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #294961;
}
a.option_button {
	position: relative;
	float: left;
	color: #0e1a22;
	background-color: #ffba00;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
	margin-left: 10px;
}
a.option_social {
	position: relative;
	float: right;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
}
a.option_button:hover {
	background-color: #ffba00;
	color: #294961;
}
a.option_twitter {
	background-image: url(../img/ico_twitt.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}
a.option_twitter:hover {
	background-image: url(../img/ico_twitt_hover.png);
}
a.option_facebook {
	background-image: url(../img/ico_fb.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}
a.option_facebook:hover {
	background-image: url(../img/ico_fb_hover.png);
}
a.option_web {
	background-image: url(../img/ico_web.png);
	background-position: 10px 7px;
	background-repeat: no-repeat;
	padding-left: 30px;
}
a.option_web:hover {
	background-image: url(../img/ico_web_hover.png);
}
a.option_itunes {
	background-image: url(../img/ico_itunes.png);
	background-position: 10px 7px;
	background-repeat: no-repeat;
	padding-left: 30px;
}
a.option_itunes:hover {
	background-image: url(../img/ico_itunes_hover.png);
}
a.option_rss {
	background-image: url(../img/ico_rss.png);
	background-position: 10px 8px;
	background-repeat: no-repeat;
	padding-left: 30px;
}
a.option_rss:hover {
	background-image: url(../img/ico_rss_hover.png);
}
a.go_live {
	margin-left: 20px;
	position: relative;
	background-position: left 0px;
	background-repeat: no-repeat;
	float: left;
	display: inline-block;
	font-family: Aldrich;
	font-size: 1.8em;
	text-transform: uppercase;
}
body.home #main {
	width: 850px;
	padding-right: 10px;
	padding-bottom: 100px;
	padding-top: 50px;
	background-color: #0E1A22;
	padding-left: 10px;
	position: relative;
	float: left;
}
body.home #secondary {
	margin-left: -70px;
	margin-right: 20px;
	width: 300px;
	position: relative;
	float: right;
}
.bloc_secondary h3 {
	clear: both;
	display: inline-block;
	padding-right: 10px;
	padding-left: 20px;
	margin-right: -10px;
	margin-left: -20px;
	padding-bottom: 3px;
	margin-bottom: 7px;
	border-bottom-color: #0E1A22;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: #ffba00;
	font-size: 1.5em;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-family: Aldrich;
}
.bloc_secondary ul {
	list-style-type: none;
}
.bloc_secondary ul li {
	color: white;
	margin-bottom: 5px;
}
.bloc_secondary ul li p {
	text-align: left;
	font-size: 0.8em;
}
.bloc_secondary ul.pod_recent li:hover {
	background-color: #1c3342;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
} 
.bloc_secondary ul.pod_recent a:hover {
	color:white;
}
body.agenda #main{
	background-color: #0e1a22;
	padding-bottom: 100px;
	padding-right: 40px;
	padding-left: 40px;
}
h1.agenda{
	padding-bottom: 20px;
	font-size: 5em;
	color: #ffba00;
	font-style: normal;
	font-weight: normal;
	font-family: "Changa One", Helvetica, Verdana, Arial, sans-serif;
}
h2.agenda{
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	font-family: Aldrich, Helvetica, Verdana, Arial, sans-serif;
	color: white;
}
div.date{
	float: left;
	position: relative;
	padding-bottom: 6px;
	padding-top: 10px;
	font-family: Aldrich;
	width: 100px;
	display: block;
	text-align: center;
	color: #0e1a22;
	background-color: #ffba00;
}
div.event_details{
	padding-left: 20px;
	border-top-color: #ffba00;
	border-top-style: dotted;
	border-top-width: 1px;
	padding-top: 20px;
	width: 980px;
	position: relative;
	float: right;
}
div.event{
	margin-bottom: 20px;
	margin-top: 20px;
}
div.event h4{
	margin-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	color: white;
	font-size: 1.8em;
	font-family: Aldrich;
}
a.agenda{
	margin-left: 100px;
	margin-top: -17px;
	display: inline-block;
	position: relative;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../img/ico_cal.png);
	height: 48px;
	width: 48px;
}
a.agenda:hover{
	background-image: url(../img/ico_cal_hover.png);
}
a.sec_social{
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Aldrich;
	display: inline-block;
	width: 110px;
	color: #060b0f;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
	background-color: #ffba00;
}
a.sec_twitter{
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 100px center;
	background-image: url(../img/ico_twitt_0E1A22.png);
}
a.sec_social:hover{
	color: #ffba00;
	background-color: #294961;
}
a.sec_twitter:hover{
	background-image: url(../img/ico_twitt_hover.png);
}
a.sec_facebook{
	background-repeat: no-repeat;
	background-position: 100px center;
	background-image: url(../img/ico_fb_0E1A22.png);
}
a.sec_facebook:hover{
	background-image: url(../img/ico_fb_hover.png);
}
ul.invites li{
	display: inline-block;
	clear: none;
	position: relative;
	float: left;
}
p.animateurs{
	width: 260px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

a.precedent  {
	margin-top: 40px;
	position: relative;
	float: left;
	display: block;
	padding-top: 4px;
	text-decoration: none;
	font-size: 1.4em;
	font-family: Aldrich;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../img/fleche_retour.png);
	padding-left: 15px;
}
a.precedent:hover  {
	color: white;
	text-decoration: none;
	background-image: url(../img/fleche_retour_hover.png);
}
a.suivant  {
	padding-right: 15px;
	margin-top: 40px;
	position: relative;
	float: right;
	display: block;
	padding-top: 4px;
	text-decoration: none;
	font-size: 1.4em;
	font-family: Aldrich;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url(../img/fleche_suivant.png);
}
a.suivant:hover  {
	color: white;
	text-decoration: none;
	background-image: url(../img/fleche_suivant_hover.png);
}
body.team #main{
	padding-top: 50px;
	background-color: #0e1a22;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	padding-bottom: 100px;
	padding-right: 40px;
	padding-left: 40px;
}
h1.team{
	padding-bottom: 20px;
	font-size: 5em;
	color: #ffba00;
	font-style: normal;
	font-weight: normal;
	font-family: "Changa One", Helvetica, Verdana, Arial, sans-serif;
}
h2.team{
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	font-family: Aldrich, Helvetica, Verdana, Arial, sans-serif;
	color: white;
}
a.team_avatar{
	margin: 10px;
	height: 150px;
	display: inline-block;
	width: 150px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	background-color: white;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
a.team_avatar IMG{
	height: 150px;
	width: 150px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
#disclaimer_forum{
	font-size: 0.9em;
	font-family: Aldrich;
	margin-top: 90px;
	background-repeat: no-repeat;
	padding-left: 15px;
	background-image: url(../img/bg_fleche.png);
	display: inline-block;
	float: right;
	position: relative;
	width: 235px;
}
div.formulaire_forum{
	float: left;
	position: relative;
	display: inline-block;
}
#disclaimer_forum p{
	padding: 10px;
	background-color: #162834;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
}
.billet_content {
	float: left;
	position: relative;
	width: 620px;
}
.billet_details {
	font-family: Aldrich;
	width: 200px;
	position: relative;
	float: right;
}
div.billet h2 {
	margin-bottom: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 3em;
	font-family: Aldrich;
}
.billet_texte {
	text-align: justify;
}
.billet_texte p {
	margin-bottom: 10px;
}
.billet h3.spip {
	margin-bottom: 5px;
	margin-top: 20px;
	font-size: 1.6em;
	color: #ffba00;
	font-family: Aldrich;
}
.billet {
	margin-bottom: 40px;
}
.billet_details p.date {
	font-size: 1.2em;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-top: 10px;
	color: #0e1a22;
	background-color: #ffba00;
}
.auteurs {
	text-align: right;
	margin-bottom: 15px;
	color: white;
}
.auteurs a {
	color: #ffba00;
}
.auteurs a:hover {
}
.commentaires {
	text-align: right;
}
body.blog #secondary {
	margin-top: -20px;
}
div.gall {
	text-align: center;
}
div.gall img {
	margin-bottom: 5px;
}
#footer {
	min-width: 1200px;
	border-top-color: white;
	border-top-width: 0px;
	border-top-style: solid;
	color: white;
	background-color: #294961;
}
#footer2 {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
div.footer_bloc {
	display: block;
	float: left;
	position: relative;
	margin: 20px;
	width: 360px;
}
div.footer_bloc div iframe {
	margin-top: 20px;
	background-color: white;
}
#footer ul {
	list-style-type: none;
}
#footer ul li {
	margin-bottom: 5px;
}
#footer_details {
	font-size: 0.7em;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.billet_texte ul.spip {
	margin-bottom: 10px;
	margin-left: 20px;
}
#howto {
	color: white;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}
body.howto #main {
	background-color: #0e1a22;
	padding-right: 50px;
	padding-left: 50px;
}
#howto h3 {
	margin-bottom: 15px;
	margin-top: 30px;
	color: #ffba00;
	font-size: 2.2em;
	font-family: Aldrich;
}
#howto p {
	margin-bottom: 10px;
	text-align: justify;
}
#howto ul {
	padding-left: 30px;
}
#howto ul li {
	margin-bottom: 10px;
}
#howto h4 {
	margin-top: 20px;
	color: #ffba00;
	font-size: 1.3em;
	font-family: Aldrich;
}
#double {
	right: 100px;
	top: 90px;
	margin-top: 20px;
	float: right;
	position: absolute;
	height: 100px;
	width: 320px;
}
.bloc_secondary {
	padding: 10px;
	margin-top: 35px;
}
SPAN.com_date {
	font-style: italic;
	color: #49627e;
	font-size: 0.8em;
}
div.image_recent {
	display: block;
	clear: none;
	position: relative;
	float: left;
	width: 60px;
}
div.texte_recent {
	padding-top: 5px;
	display: block;
	clear: none;
	position: relative;
	float: right;
	width: 210px;
}
#podcast_secondary div.bloc_secondary {
	margin-left: -10px;
	width: 300px;
}
#podcast_secondary div.bloc_secondary * div.texte_recent {
	width: 230px;	
}